{% extends "base.html" %}

{% block content %}

<h2>Upload revistă</h2>


{% if not uploaded %}

<p>
    Încarcă arhiva ZIP a revistei pentru analiză.
</p>


<form method="POST" enctype="multipart/form-data">

    <input 
        type="file" 
        name="revista"
        accept=".zip"
        required
    >

    <br><br>

    <button type="submit">
        Încarcă revista
    </button>

</form>


{% endif %}



{% if uploaded %}

<hr>

<h3>
    ✔ Arhivă încărcată cu succes
</h3>


<p>
    Fișier:
    <strong>{{ filename }}</strong>
</p>


<h3>
    Analiză arhivă
</h3>


<p>
    ✔ {{ analysis.files_count }} fișiere găsite
</p>



{% if analysis.html_folder %}

<p>
    ✔ Folder HTML detectat:
    <strong>{{ analysis.html_folder }}</strong>
</p>

{% else %}

<p>
    ⚠ Folder HTML nu a fost identificat
</p>

{% endif %}



{% if analysis.articles %}

<p>
    ✔ {{ analysis.articles|length }} articole identificate
</p>


<ul>

{% for article in analysis.articles %}

<li>
    {{ article }}
</li>

{% endfor %}

</ul>


{% else %}

<p>
    ⚠ Nu au fost identificate articole.
</p>

{% endif %}



<hr>


<h3>
    Etape următoare
</h3>


<p>
    ⏳ Dezarhivare conținut...
</p>

<p>
    ⏳ Curățare HTML...
</p>

<p>
    ⏳ Generare pagini...
</p>


{% endif %}



{% with messages = get_flashed_messages() %}

{% if messages %}

<hr>

{% for message in messages %}

<p>
    ⚠ {{ message }}
</p>

{% endfor %}

{% endif %}

{% endwith %}



{% endblock %}
